 .u-section-1 {
  min-height: 780px;
}

.u-section-1 .u-image-1 {
  min-height: 753px;
  margin-top: 0;
  margin-bottom: 27px;
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(26, 26, 26, 0.6588235294117647), rgba(26, 26, 26, 0.6588235294117647)), url('assets/images/a059a63189d91f23da37c4a428f2750be96a05c2a17301e2869e32027d043de077f614f1cb4621cca24c6ea4f8ff43531c68f3b17fdc340929690a_1280.jpg');
  background-size: cover, cover;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -200px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 231px 692px 0 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 525px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 305px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 165px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1444px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 444px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 719px;
  margin: 12px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 37px 87px 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 1128px;
  margin: 9px auto 60px 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 12px));
  min-height: 1038px;
  grid-auto-columns: calc(25% - 12px);
  grid-gap: 16px;
}

.u-section-2 .u-image-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8392156862745098), rgba(0, 0, 0, 0.8392156862745098)), url('assets/images/acelerar.webp');
  --radius: 30px;
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
}

.u-section-2 .u-container-layout-1 {
  padding: 26px 30px 40px;
}

.u-section-2 .u-text-4 {
  margin: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 35px 0 0;
}

.u-section-2 .u-image-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8392156862745098), rgba(0, 0, 0, 0.8392156862745098)), url('assets/images/Escalar.jpg');
  --radius: 30px;
  background-position: 50% 50%, 20.63% 50%;
  background-size: cover, cover;
}

.u-section-2 .u-container-layout-2 {
  padding: 26px 30px 40px;
}

.u-section-2 .u-text-6 {
  margin: 0;
}

.u-section-2 .u-text-7 {
  font-weight: 400;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 35px 0 0;
}

.u-section-2 .u-image-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8392156862745098), rgba(0, 0, 0, 0.8392156862745098)), url('d2cc3eaa/6427118/images/modern-skyscrapers-japan-busines.jpg');
  --radius: 30px;
  background-position: 50% 50%, 50% 50%;
  background-size: cover;
}

.u-section-2 .u-container-layout-3 {
  padding: 26px 30px 40px;
}

.u-section-2 .u-text-8 {
  margin: 0;
}

.u-section-2 .u-text-9 {
  font-weight: 400;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 35px 0 0;
}

.u-section-2 .u-image-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8392156862745098), rgba(0, 0, 0, 0.8392156862745098)), url('assets/images/optimizar.webp');
  background-position: 50% 50%, 50% 50%;
  --radius: 30px;
  background-size: cover;
}

.u-section-2 .u-container-layout-4 {
  padding: 26px 30px 27px;
}

.u-section-2 .u-text-10 {
  margin: 0;
}

.u-section-2 .u-text-11 {
  font-weight: 400;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 35px 0 0;
}

.u-section-2 .u-image-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8392156862745098), rgba(0, 0, 0, 0.8392156862745098)), url('d2cc3eaa/6427118/images/man-working-roof-with-drill_23-2.jpg');
  background-position: 50% 50%, 50% 50%;
  --radius: 30px;
  background-size: cover;
}

.u-section-2 .u-container-layout-5 {
  padding: 26px 30px 40px;
}

.u-section-2 .u-text-12 {
  margin: 0;
}

.u-section-2 .u-text-13 {
  font-weight: 400;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 35px 0 0;
}

.u-section-2 .u-image-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8392156862745098), rgba(0, 0, 0, 0.8392156862745098)), url('d2cc3eaa/6427118/images/vertical-low-angle-shot-grey-con.jpg');
  background-position: 50% 50%, 50% 50%;
  --radius: 30px;
  background-size: cover;
}

.u-section-2 .u-container-layout-6 {
  padding: 26px 30px 40px;
}

.u-section-2 .u-text-14 {
  margin: 0;
}

.u-section-2 .u-text-15 {
  font-weight: 400;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 35px 0 0;
}

.u-section-2 .u-image-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8392156862745098), rgba(0, 0, 0, 0.8392156862745098)), url('d2cc3eaa/6427118/images/low-angle-building-design-with-w.jpg');
  background-position: 50% 50%, 50% 50%;
  --radius: 30px;
  background-size: cover;
}

.u-section-2 .u-container-layout-7 {
  padding: 26px 30px 27px;
}

.u-section-2 .u-text-16 {
  margin: 0;
}

.u-section-2 .u-text-17 {
  font-weight: 400;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 35px 0 0;
}

.u-section-2 .u-image-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8392156862745098), rgba(0, 0, 0, 0.8392156862745098)), url('d2cc3eaa/6427118/images/worker-building-roof-house_23-21.jpg');
  background-position: 50% 50%, 50% 50%;
  --radius: 30px;
  background-size: cover;
}

.u-section-2 .u-container-layout-8 {
  padding: 26px 30px 40px;
}

.u-section-2 .u-text-18 {
  margin: 0;
}

.u-section-2 .u-text-19 {
  font-weight: 400;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 35px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-3 {
    margin-right: 12px;
    margin-left: 0;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 860px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -346px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -314px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -379px;
  }

  .u-section-2 .u-text-10 {
    margin-top: -346px;
  }

  .u-section-2 .u-text-14 {
    margin-top: -184px;
  }

  .u-section-2 .u-text-16 {
    margin-top: -184px;
  }

  .u-section-2 .u-text-18 {
    margin-top: -184px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 8px));
    min-height: 2712px;
    grid-auto-columns: calc(50% - 8px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 2102px;
    grid-auto-columns: calc(100% + 0px);
  }

  .u-section-2 .u-text-4 {
    margin-top: 165px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 165px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 165px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 165px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 331px;
  }

  .u-section-2 .u-text-13 {
    margin-top: -258px;
  }

  .u-section-2 .u-text-14 {
    margin-top: 165px;
  }

  .u-section-2 .u-text-16 {
    margin-top: 165px;
  }

  .u-section-2 .u-text-18 {
    margin-top: 165px;
  }
}

.u-section-2 .u-text-9,
.u-section-2 .u-text-9:before,
.u-section-2 .u-text-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-9 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-color: #404040 !important;
}

.u-section-2 .u-text-9 {
  border-style: solid !important;
  border-width: 2px !important;
  border-color: transparent !important;
}

.u-container-layout.hover > .u-section-2 .u-text-9 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-color: #404040 !important;
}

.u-section-2 .u-text-9 {
  border-style: solid !important;
  border-width: 2px !important;
  border-color: transparent !important;
}

.u-section-2 .u-text-5,
.u-section-2 .u-text-5:before,
.u-section-2 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-5 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-color: #404040 !important;
}

.u-section-2 .u-text-5 {
  border-style: solid !important;
  border-width: 2px !important;
  border-color: transparent !important;
}

.u-container-layout.hover > .u-section-2 .u-text-5 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-color: #404040 !important;
}

.u-section-2 .u-text-5 {
  border-style: solid !important;
  border-width: 2px !important;
  border-color: transparent !important;
}

.u-section-2 .u-text-7,
.u-section-2 .u-text-7:before,
.u-section-2 .u-text-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-7 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-color: #404040 !important;
}

.u-section-2 .u-text-7 {
  border-style: solid !important;
  border-width: 2px !important;
  border-color: transparent !important;
}

.u-container-layout.hover > .u-section-2 .u-text-7 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-color: #404040 !important;
}

.u-section-2 .u-text-7 {
  border-style: solid !important;
  border-width: 2px !important;
  border-color: transparent !important;
}

.u-section-2 .u-text-11,
.u-section-2 .u-text-11:before,
.u-section-2 .u-text-11 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-11 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-color: #404040 !important;
}

.u-section-2 .u-text-11 {
  border-style: solid !important;
  border-width: 2px !important;
  border-color: transparent !important;
}

.u-container-layout.hover > .u-section-2 .u-text-11 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-color: #404040 !important;
}

.u-section-2 .u-text-11 {
  border-style: solid !important;
  border-width: 2px !important;
  border-color: transparent !important;
}

.u-section-2 .u-text-13,
.u-section-2 .u-text-13:before,
.u-section-2 .u-text-13 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-13 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-color: #404040 !important;
}

.u-section-2 .u-text-13 {
  border-style: solid !important;
  border-width: 2px !important;
  border-color: transparent !important;
}

.u-container-layout.hover > .u-section-2 .u-text-13 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-color: #404040 !important;
}

.u-section-2 .u-text-13 {
  border-style: solid !important;
  border-width: 2px !important;
  border-color: transparent !important;
}

.u-section-2 .u-text-15,
.u-section-2 .u-text-15:before,
.u-section-2 .u-text-15 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-15 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-color: #404040 !important;
}

.u-section-2 .u-text-15 {
  border-style: solid !important;
  border-width: 2px !important;
  border-color: transparent !important;
}

.u-container-layout.hover > .u-section-2 .u-text-15 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-color: #404040 !important;
}

.u-section-2 .u-text-15 {
  border-style: solid !important;
  border-width: 2px !important;
  border-color: transparent !important;
}

.u-section-2 .u-text-17,
.u-section-2 .u-text-17:before,
.u-section-2 .u-text-17 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-17 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-color: #404040 !important;
}

.u-section-2 .u-text-17 {
  border-style: solid !important;
  border-width: 2px !important;
  border-color: transparent !important;
}

.u-container-layout.hover > .u-section-2 .u-text-17 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-color: #404040 !important;
}

.u-section-2 .u-text-17 {
  border-style: solid !important;
  border-width: 2px !important;
  border-color: transparent !important;
}

.u-section-2 .u-text-19,
.u-section-2 .u-text-19:before,
.u-section-2 .u-text-19 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-19 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-color: #404040 !important;
}

.u-section-2 .u-text-19 {
  border-style: solid !important;
  border-width: 2px !important;
  border-color: transparent !important;
}

.u-container-layout.hover > .u-section-2 .u-text-19 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-color: #404040 !important;
}

.u-section-2 .u-text-19 {
  border-style: solid !important;
  border-width: 2px !important;
  border-color: transparent !important;
}.u-section-3 .u-sheet-1 {
  min-height: 701px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: 9px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 54px;
  margin-bottom: 45px;
}

.u-section-3 .u-image-1 {
  min-height: 203px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: url("assets/images/choucair_foto.webp");
  background-position: 86.9% 50%;
  background-size: cover;
}

.u-section-3 .u-container-layout-1 {
  padding: 25px 25px 25px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 203px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0 30px 30px;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  margin: 26px 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 311px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 15px;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 311px;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-3 .u-image-2 {
  width: 242px;
  height: 242px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  --radius: 30px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-3 .u-image-1 {
    min-height: 167px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 167px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 256px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 256px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-3 .u-image-1 {
    min-height: 192px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 196px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 837px;
  }

  .u-section-3 .u-image-1 {
    min-height: 480px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 294px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-3 .u-image-2 {
    width: 439px;
    height: 253px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 719px;
  }

  .u-section-3 .u-image-1 {
    min-height: 302px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 185px;
  }

  .u-section-3 .u-image-2 {
    width: 330px;
    height: 190px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 591px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 7px 0 32px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 208px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 32px 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  min-height: 208px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("assets/images/hdi_foto.webp");
  background-size: cover;
}

.u-section-4 .u-container-layout-2 {
  padding: 25px 0 25px 30px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 344px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 30px 28px 0;
}

.u-section-4 .u-image-2 {
  width: 242px;
  height: 242px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  --radius: 30px;
  object-position: 44.93% 50%;
  margin: 39px auto 0 126px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 344px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 15px;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 171px;
  }

  .u-section-4 .u-image-1 {
    min-height: 171px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 284px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-image-2 {
    width: 407px;
    height: 299px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 284px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    min-height: 196px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 218px;
  }

  .u-section-4 .u-image-2 {
    width: 330px;
    height: 242px;
    margin-left: 40px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1106px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-1 {
    min-height: 490px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 360px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    width: 439px;
    height: 253px;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 785px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-image-1 {
    min-height: 309px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 227px;
  }

  .u-section-4 .u-image-2 {
    width: 330px;
    height: 190px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 577px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 10px 0 45px;
}

.u-section-5 .u-image-1 {
  min-height: 203px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: url("assets/images/foto3.webp");
  background-position: 50% 50%;
  background-size: cover;
}

.u-section-5 .u-container-layout-1 {
  padding: 25px 25px 25px 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 203px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0 30px 30px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 311px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 15px;
}

.u-section-5 .u-text-1 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-5 .u-image-2 {
  min-height: 311px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("assets/images/xelerica_black.png");
  background-size: contain;
  transition-duration: 4s;
}

.u-section-5 .u-container-layout-4 {
  padding: 0 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 106px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 167px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 167px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 256px;
  }

  .u-section-5 .u-image-2 {
    min-height: 256px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-5 .u-image-1 {
    min-height: 192px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 112px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-image-2 {
    min-height: 196px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 837px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 93px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 480px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 120px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-5 .u-image-2 {
    min-height: 294px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 719px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 80px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 302px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 76px;
  }

  .u-section-5 .u-image-2 {
    min-height: 185px;
  }
} .u-section-6 {
  background-position: 50% 50%, 74.21% 50%;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
}

.u-section-6 .u-sheet-1 {
  min-height: 309px;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  font-size: 3.75rem;
  margin: 22px auto 0;
}

.u-section-6 .u-gallery-1 {
  height: 143px;
  width: 745px;
  margin: 10px auto 60px;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  top: auto;
  bottom: -38px;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
}

.u-section-6 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-6 .u-back-slide-1 {
  transition-duration: 1.5s;
}

.u-section-6 .u-back-image-1 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-6 .u-back-slide-2 {
  transition-duration: 1.5s;
}

.u-section-6 .u-back-image-2 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-6 .u-back-slide-3 {
  transition-duration: 1.5s;
}

.u-section-6 .u-back-image-3 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-control-1 {
  position: absolute;
  left: -85px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-6 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -40px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    background-position: 50% 50%, 50% 50%;
  }

  .u-section-6 .u-back-image-1 {
    width: auto;
  }

  .u-section-6 .u-back-image-2 {
    width: auto;
  }

  .u-section-6 .u-back-image-3 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-gallery-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    background-position: 50% 50%, 74.21% 50%;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-gallery-1 {
    height: 112px;
    margin-top: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 273px;
}

.u-section-7 .u-image-1 {
  width: 177px;
  height: 58px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 43px auto 0 250px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: -45px 309px 0 auto;
}

.u-section-7 .u-text-2 {
  font-weight: 400;
  font-size: 0.875rem;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 25px 163px 0 759px;
}

.u-section-7 .u-text-3 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: -101px 713px 60px 250px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-top: 7px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 20px;
    margin-right: 63px;
    margin-left: 295px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 695px;
    margin-left: 68px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-top: 40px;
    margin-right: 237px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
    margin-left: 226px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 20px;
    margin-right: 475px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-top: 25px;
    margin-right: 178px;
  }

  .u-section-7 .u-text-2 {
    margin-top: -45px;
    margin-left: 170px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 295px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 351px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 82px;
    margin-right: auto;
  }

  .u-section-7 .u-text-2 {
    width: 233px;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: -223px;
    margin-left: 29px;
    margin-right: 29px;
  }
}

.u-section-7 .u-text-2,
.u-section-7 .u-text-2:before,
.u-section-7 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-7 .u-text-2.u-text-2.u-text-2:hover {
  transform: translateX(10px) translateY(0px) !important;
}

.u-section-7 .u-text-2.u-text-2.u-text-2.hover {
  transform: translateX(10px) translateY(0px) !important;
}

.u-section-7 .u-image-1,
.u-section-7 .u-image-1:before,
.u-section-7 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-7 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-7 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}